#messagelist li span.from span span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	margin-right: 20px;
	margin-top: 0px;
	font-size: 14px;
	line-height: 1.3em;
	color: #000;
	margin-left: 45px;
}

#messagelist li span.subject {
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 20px;
	font-size: 12px;
	line-height: 1.2em;
	color: #666D74;
	margin-left: 45px;
}

#messagelist li span.date {	
	position: absolute;
	top: 2px;
	right: 5px;
	font-size: 12px;
	color: #666D74;
	line-height: 1.2em;
}

#messagelist li span.mobile_text {
  display: table-cell;
  background-color: #BDBDBD;
  color: #FFF;
  text-shadow: none;
  font-weight: bold;
  height: 40px;
  width: 40px;
  font-size: 90%;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: -47px;
  border-radius: 20px;
}

#messagelist li span.mobile_text img {
	height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-bottom: -4px;
  border: 1px solid #585858;
}
#messagelist li span.mobile_text.notext {
  text-indent: -9999px;
  white-space: nowrap !important;
}

#messagelist li span.mobile_text.green {
	background-color: #40C365;
  color: #FFF;
  text-shadow: none;
}
#messagelist li span.mobile_text.grey {
  background-color: #BDBDBD;
  color: #FFF;
  text-shadow: none;
}
#messagelist li span.mobile_text.blue {
  background-color: #1B98F8;
  color: #FFF;
  text-shadow: none;
}
#messagelist li span.mobile_text.yellow {
  background-color: #FFC94C;
  color: #FFF;
  text-shadow: none;
}
#messagelist li span.mobile_text.red {
  background-color: #FA383E;
  color: #FFF;
  text-shadow: none;
}
#messagelist li span.mobile_text.orange {
  background-color: #FF9216;
  color: #FFF;
  text-shadow: none;
}
#messagelist li span.mobile_text.brown {
  background-color: #3B170B;
  color: #FFF;
  text-shadow: none;
}
#messagelist li span.mobile_text.purple {
  background-color: #4C0B5F;
  color: #FFF;
  text-shadow: none;
}

#messagelist li span.mobile_class {
	display: none;
}

#messagelist li span.labels { 
  font-size: 90%;
  position: relative;
  top: -110px;
}

#messagelist li span.attachment {
	position: absolute;
	top: 22px;
	right: 3px;
}

#messagelist li span.threads {
	display: none;
}

#messagelist li span.flag {
	position: absolute;
	top: 22px;
	right: 5px;
}

#messagelist {
	color: #333;
	text-shadow: 0px 1px 0px #F3F3F3;
	overflow: hidden;
}

#messagelist li {
	border-top: 1px solid #DDD;
	padding: 20px 5px 5px;
	cursor: pointer;
	height: 50px;
	min-width: 250px;
}

#messagelist li.unread {
  border-left: 3px solid #1B98F8;
}

#messagelist li.selected {
	background-color: #E0F2F7;
}

#messagelist li span {
	cursor: pointer;
}

#messagelist li:hover {
	background-color: #E0F2F7;
	cursor: pointer;
}

#messagelist li.selected span.mobile_text {  
  text-indent: -9999px;
  background-color: #000;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

#messagelist li a,
#messagelist li a span {
	text-decoration: none;
	color: #333;
	font-weight: normal;
}

#messagelist li span.attachment,
#messagelist li span.threads,
#messagelist li span.flag,
#messagelist li span.priority {
	width: 20px;
	padding: 2px 3px;
}

#messagelist li.unread a,
#messagelist li.unread span.from span span,
#messagelist li.unread a span {
	font-weight: bold;
	color: #000;
}

#messagelist li span.status span.unread {
	display: none;
}

#messagelist li span div.collapsed,
#messagelist li span div.expanded,
#messagelist li span.subject span.msgicon,
#messagelist li span.subject span.deleted,
#messagelist li span.subject span.unread,
#messagelist li span.subject span.replied,
#messagelist li span.subject span.forwarded,
#messagelist li span.attachment,
#messagelist li span.flag,
#messagelist li span.subject span.unreadchildren {
	display: inline-block;
	vertical-align: middle;
	height: 18px;
	width: 20px;
	padding: 0;
	background: url(images/listicons.png?v=017c.29530) -100px 0 no-repeat;
}

#messagelist li span.status span.status,
#messagelist li span.flag span.flagged,
#messagelist li span.flag span.unflagged,
#messagelist li span.flag span.unflagged:hover {
	display: inline-block;
	vertical-align: middle;
	height: 18px;
	width: 20px;
	padding: 0;
	background: url(images/message-list.png?v=02) -100px 0 no-repeat;
}

#messagelist li span.fromto,
#messagelist li span.size {
	display: none;
}

#messagelist li span.attachment span.attachment {
	background-position: 0 -996px;
}

#messagelist li span.attachment span.attachment {
	background-position: 0px -996px;
}

#messagelist li span.attachment span.report {
	background-position: -24px -1116px;
}

#messagelist li span.priority span.priority {
	background-position: -24px -1845px;
}

#messagelist li span.priority span.prio5 {
	background-position: 0 -1905px;
}

#messagelist li span.priority span.prio4 {
	background-position: 0 -1885px;
}

#messagelist li span.priority span.prio2 {
	background-position: 0 -1865px;
}

#messagelist li span.priority span.prio1 {
	background-position: 0 -1845px;
}

#messagelist li span.flag span.flagged {
	background-position: center -80px;
}

#messagelist li span.status span.msgicon {
	background-position: center 1px;
}

#messagelist li span.flag span.unflagged {
	background-position: center -96px;
}

#messagelist li span.subject span.msgicon,
#messagelist li span.subject span.unreadchildren {
	background-position: 0 -1056px;
	margin: 0 1px 0 0;
	width: 24px;
}

#messagelist li span.subject span.replied {
	background-position: 0 -1076px;
}

#messagelist li span.subject span.forwarded {
	background-position: 0 -1096px;
}

#messagelist li span.subject span.replied.forwarded {
	background-position: 0 -1116px;
}

#messagelist li span.status span.unreadchildren {
	background-position: 0 1056px; /* no icon */
}
/*
#messagelist li span.status span.msgicon:hover {
	background-position: 0 -272px;
}
*/
#messagelist li span.status span.deleted,
#messagelist li span.status span.deleted:hover,
#messagelist li span.subject span.deleted {
	background-position: -22px -1096px;
}

#messagelist li span.status span.unread {
	background-position: center -15px;
}

#messagelist li span.status span.status {
	background-position: 0px -1016px;
}

#messagelist li span div.collapsed {
	background-position: 0 -1137px;
	cursor: pointer;
}

#messagelist li span div.expanded {
	background-position: 0 -1157px;
	cursor: pointer;
}


#messagelist li span.status span {
	position: absolute;
	top: 5px;
	left: 5px;	
}

#mailboxlist li.selected > a {
	background-color: #2ad;
	border-color: #2ad;
	color: #fff;
	text-shadow: 0 1px 0 #08b;
}

#mailboxlist li.mailbox ul li a {
	padding-left: 42px;  /* 36 + 1 x 16 */
}

#mailboxlist li.mailbox ul ul li.mailbox a {
	padding-left: 58px;  /* 2x */
}

#mailboxlist li.mailbox ul ul ul li.mailbox a {
	padding-left: 74px;  /* 3x */
}

#mailboxlist li.mailbox ul ul ul ul li.mailbox a {
	padding-left: 90px;  /* 4x */
}

#mailboxlist li.mailbox ul ul ul ul ul li {
	padding-left: 16px;
}

#messagebody p.image-attachment {
	position: relative;
	padding: 1em;
	border-top: 1px solid #ccc;
}

#messagebody p.image-attachment a.image-link {
	float: left;
	display: block;
	margin-right: 2em;
	min-width: 160px;
	min-height: 60px;
	text-align: center;
}

#messagebody p.image-attachment .image-filename {
	display: block;
	font-weight: bold;
	line-height: 1.6em;
}

#messagebody p.image-attachment .image-filesize {
	padding-right: 1em;
}

#messagebody p.image-attachment .attachment-links a {
	margin-right: 0.6em;
}

.pagenav {
	font-size: 1em;
	min-height: 1.1em;
	text-align: left;
	display: block;
	padding: 0.7em 0px;
	outline: 0px none !important;
}

#mailsettingsbutton {
	float: right;
}

#compose-cc, #compose-bcc, #compose-replyto, #compose-followupto {
	display: none;
}

.jqm-message .ui-content,
.jqm-compose .ui-content {
	padding: 0px;
}

#compose-content {
	min-height: 487px;
}

#composeheaders {
	margin-top: -5px;
}

#composeheaders .compose-object {
  padding: 0px 5px;
  border-top: 1px solid #DDD;
}

#composeheaders #_from-button {
  font-size: 90%;
}

#composeheaders a {
  font-size: 90%;
  padding: 5px;
}

#composeheaders #compose-cc,
#composeheaders #compose-bcc,
#composeheaders #compose-subject,
#composeheaders #compose-to {
	background-color: #fff;
}

#composeheaders #compose-cc label,
#composeheaders #compose-bcc label,
#composeheaders #compose-subject label,
#composeheaders #compose-to label {
  display: inline-block;
  vertical-align: middle;
  font-size: 90%;
  margin: 0;
  color: #045FB4;
}

#composeheaders #compose-cc textarea,
#composeheaders #compose-bcc textarea,
#composeheaders #compose-to textarea {
	border-radius: 0px;
	display: inline-block;
  vertical-align:middle;
  width: 85%;
  border-style: none; 
  border-color: Transparent; 
  overflow: auto;
  box-shadow: none;
  margin: 0;
}

#composeheaders #compose-subject input {
  border-radius: 0px;
  display: inline-block;
  vertical-align:middle;
  border-style: none; 
  border-color: Transparent; 
  overflow: auto;
  box-shadow: none;  
  margin: 0;
}

#composeheaders #compose-subject .ui-input-text {
  margin: 0;
}

#composeheaders #compose-subject .ui-focus {
	box-shadow: none;
}


#composeview-bottom {
	position: relative;
	left: 0;
	right: 0;
	min-height: 200px;
}

#composeview-bottom label {
  margin-left: 5px;
  font-size: 90%;
  color: #045FB4;
}

#composeview-bottom #composebodycontainer {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#composeview-bottom textarea {
  border-radius: 0px;
  margin-top: 0px;
}

#composeoptions {
	display: none;
	padding: 2px 0 0 8px;
	white-space: normal;
	border-top: 1px solid #dfdfdf;
	box-shadow: inset 0 1px 0 0 #fff;
	-o-box-shadow: inset 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	-moz-box-shadow: inset 0 1px 0 0 #fff;
}

.composeoption {
	color: #666;
	padding-right: 22px;
	white-space: nowrap;
}

#composeoptions .composeoption {
	display: inline-block;
	padding: 4px 22px 4px 0;
}

#composeoptions .composeoption:last-child {
	padding-right: 4px;
}

#messageheader {
	position: relative;
	padding: 3px 0;
	background: #f9f9f9;
	border-bottom: 1px solid #dfdfdf;
}

#messageheader {
	border-radius: 4px 4px 0 0;
	padding-left: 10px;
	/* avoid headers eating up all the vertical space */
	max-height: 50%;
	overflow: hidden;
}

#messagecontent .rightcol,
#messagepreview .rightcol {
	background: #f0f0f0;
	padding: 8px;
	border-radius: 4px;
}

#message-objects div.notice {
    display: block;
    color: #960;
    border: 1px solid #FFDF0E;
    background-color: #FEF893;
    background-position: 5px -83px;
    padding: 6px 12px 6px 30px;
    white-space: normal;
}

#formatcontrols {
	display: none;
}

#messagecontent pre {
	white-space: pre-wrap;
}

#messagebody {
	overflow-x: auto; 
}

.unreadcount {
	right: 0.8em;
	background-color: #2a2a2a;
	border-color: #1d1d1d;
	color: #fff;
	text-shadow: 0 1px 0 #111;
	position: absolute;
	font-size: 12.5px;
	font-weight: 700;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	padding: 0 .48em;
	line-height: 1.6em;
	min-height: 1.6em;
	min-width: .64em;
	top: 50%;
	margin-top: -.88em;
	border-radius: 4px;
}

#pull_to_refresh {
	background-color: #fff;
	border-color: #ddd;
	color: grey;
	font-size: 14px;
	margin: -16px -16px 25px -16px;
	padding: 45px 25px 15px 25px;
	background-image: url("images/1408736270_519892-037_ArrowUp.png");
	background-repeat: no-repeat;
	background-position: 5px;
	position: absolute;
	width: 100%;
	top: -79px;
}

#pull_to_refresh span {
	margin-left: auto;
	margin-right: auto;
	padding-left: 35px;
}

.mailiframebox {
	height: 100%;
}

#mail-list-left-panel {
	overflow-y: auto;
	border-right: 1px solid grey;
}

#mail-list-left-panel #messagelist {
	overflow: auto;
	overflow-x: hidden;
	background-color: #f9f9f9;
}

.message-content {
	overflow-y: scroll;
	overflow-x: hidden;
	border-width: 0;
	padding: 0.5em;
	background: none repeat scroll 0% 0% #F0F0F0;
}

#messagecontent {
	padding: 0.5em;
	background: none repeat scroll 0% 0% #FFF;
}

#messageheader .subject {
	margin-left: 85px;
}

#messageheader #contactphoto {
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 35px;
	border: 1px solid #585858;
	background: #FFF url("images/contactpic_48px.png?v=1bc4.353") no-repeat scroll center center;
	position: absolute;
	top: 5px;
  left: 5px;
}

#messageheader #contactphoto img {
	width: 75px;
	height: 75px;
	border-radius: 4px;
}

#slide-message {
	display: none;
	position: fixed;
	width: 100%;
	top: 42px;
}

.jqm-mail-buttons-header,
.jqm-mail-search-header {
	display: none;
	height: 45px;
}

.jqm-mail-search-header .searchbox {
	margin-left: 60px;
	margin-right: 10px;
	margin-top: -6px;
}

#jqm-mail-newmessage-button {
	position: fixed;
	right: 20px;
	bottom: 10px;
	-webkit-transform: translateZ(0);
}

#jqm-mail-newmessage-button > a {
	height: 55px;
	width: 55px;
	border-radius: 28px;
	background-color: #fa383e;
}

#jqm-mail-newmessage-button > a::after {
	background-color: rgba(0, 0, 0, 0.3);
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 1em;
}

div.slide_to_delete {
	position: absolute;
	top: 0px;
	background-color: #FA5858;
	color: white;
	padding: 28px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

div.slide_to_mark {
	position: absolute;
	top: 0px;
	background-color: #2ad;
	color: white;
	padding: 28px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#folder-selector {
	background-color: #333;
	border-color: #1f1f1f;
	color: #fff;
	text-shadow: 0 1px 0 #111;
	
	top: 50px;
	left: 30px;
	
	font-size: 16px;
	margin: .5em 0;
	padding: 1em .7em;
	text-align: left;
	width: auto;
	
	position: fixed;
}
