<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body>
<div data-role="page" class="jqm-addressbook" data-ajax="true" data-theme="f" id="page_addressbook_list" data-dom-cache="true">
	<div data-role="header" data-position="fixed" data-theme="f" class="jqm-addressbook-header" data-tap-toggle="false">
		<div data-role="controlgroup" data-type="horizontal" class="jqm-addressbook-leftpanel-link ui-mini ui-btn-left">
			<a href="#addressbook-left-panel" class="ui-link ui-btn ui-icon-bars ui-btn-icon-notext" data-rel="open">Groups</a>
		</div>
		<h1>Contacts</h1>
		<div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
			<a href="#" class="jqm-addressbook-open-searchbox ui-link ui-btn ui-icon-search ui-btn-icon-notext">Search</a>
			<a href="#apps-right-panel" class="jqm-apps-rightpanel-link ui-link ui-btn ui-icon-grid ui-btn-icon-notext" data-rel="open">Apps</a>
		</div>
	</div>
	
	<div data-role="header" data-position="fixed" data-theme="f" class="jqm-addressbook-search-header" data-tap-toggle="false">
    <div data-role="controlgroup" data-type="horizontal" class="jqm-addressbook-leftpanel-link ui-mini ui-btn-left">
      <a href="#" class="jqm-addressbook-cancel-searchbox ui-link ui-btn ui-icon-back ui-btn-icon-notext">Cancel</a>
    </div>
    <div id="quicksearchbar" class="searchbox">
      <roundcube:object name="searchform" id="quicksearchbox" />
    </div>
  </div>
	
	<div id="addressbook-left-panel" data-theme="c" data-role="panel" data-position="left" data-display="push" data-position-fixed="true" class="jqm-addressbook-left-panel">
		<div class="ui-grid-solo">
      <div class="ui-block-a">
        <div id="userphoto"><roundcube:object name="userphoto" /></div>
      </div>
    </div>
		<div class="ui-grid-solo">
				<div class="ui-block-a"><roundcube:object name="username" /></div>
		</div>
		<div class="ui-grid-solo">
			<div class="ui-block-a">
				<roundcube:button command="add" type="link" title="newcontact" class="listbutton add jqm-mail-button-newcontact ui-link ui-btn ui-btn-a ui-alt-icon ui-icon-plus ui-btn-icon-left ui-corner-all" innerClass="inner" label="newcontact" />
				<roundcube:button command="group-create" type="link" title="newgroup" class="listbutton add jqm-mail-button-newgroup ui-link ui-btn ui-btn-a ui-alt-icon ui-icon-plus ui-btn-icon-left ui-corner-all" innerClass="inner" label="addgroup" />
			</div>
		</div>
		<br>
		<roundcube:object name="directorylist" id="directorylist_mobile" data-theme="h" data-role="listview" class="treelist listing" />
		<br><br><br>
	</div>
	
	<roundcube:include file="/includes/rightpanel.html" />
	
	<div role="main" class="ui-content jqm-content">
		<roundcube:object name="addresslist" id="contacts-table" class="listing" noheader="true" />
		<div id="jqm-addressbook-newcontact-button">
      <roundcube:button command="add" type="link" title="newcontact" class="button compose ui-btn-a ui-link ui-btn ui-icon-plus ui-btn-icon-notext" innerClass="inner" label="newcontact" />
    </div>
	</div>
</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
