<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body>

	<div data-role="page" data-theme="a" class="jqm-compose">

		<div data-role="header" data-theme="f"
			data-tap-toggle="false">
			<div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-left">
				<roundcube:button command="list" type="link"
					class="button back ui-link  ui-btn ui-icon-back ui-btn-icon-notext"
					label="cancel" condition="!env:extwin" />
				<a class="ui-link  ui-btn ui-icon-code ui-btn-icon-notext" 
				    href="#"
				    onclick="return rcmail.command('toggle-editor', {id: 'composebody', html: $('#composebody').is(':visible')}, '', event)">&lt; /&gt;</a>
				<roundcube:if condition="env:isenigma" />
          <roundcube:button command="menu-open" prop="enigmamenu"
                class="button enigma ui-link ui-btn ui-corner-all ui-icon-lock ui-btn-icon-notext"
                label="enigma.encryption" title="enigma.encryptionoptions" />
        <roundcube:endif />
			</div>
			<h1>
				<roundcube:object name="pagetitle" />
			</h1>
			<div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
			  <a href="#upload-popup" data-rel="popup" data-position-to="window"
		          class="ui-link ui-btn ui-corner-all ui-icon-paperclip ui-btn-icon-notext"
		          data-transition="pop" title="<roundcube:label name="addattachment" />">
              <roundcube:label name="attach" />
        </a>
			  <roundcube:button command="savedraft" type="link"
              class="button savedraft ui-link ui-btn ui-corner-all ui-icon-save ui-btn-icon-notext"
              label="save" title="savemessage" />        
				<roundcube:button command="send" type="link"
							class="button send ui-link ui-btn ui-icon-play ui-btn-icon-notext"
							label="send" title="sendmessage" />
			</div>
		</div>

		<div role="main" class="ui-content ui-alt-icon">
			<roundcube:form name="form" method="post" id="compose-content"
				class="uibox">

				<!-- message headers -->
				<div id="composeheaders">
				  <div class="compose-object">
					 <roundcube:object name="composeHeaders" part="from" form="form" id="_from" tabindex="1" />
					</div>					
					<div id="compose-to" class="compose-object">
					 <label for="_to"><roundcube:label name="to" /></label>
					 <roundcube:object name="composeHeaders" part="to" form="form" id="_to" rows="1" tabindex="2" />
					</div>
					<div id="compose-cc" class="compose-object">
						<label for="_cc"><roundcube:label name="cc" /></label>
						<roundcube:object name="composeHeaders" part="cc" form="form"
							id="_cc" rows="1" tabindex="3" />
					</div>
					<div id="compose-bcc" class="compose-object">
						<label for="_bcc"><roundcube:label name="bcc" /></label>
						<roundcube:object name="composeHeaders" part="bcc" form="form"
							id="_bcc" rows="1" tabindex="4" />
					</div>
					<div>
						<a href="#cc"
							onclick="$('#compose-cc').show(); $('#cc-link').hide();"
							id="cc-link" class="iconlink add"><roundcube:label
								name="addcc" /></a> 
						<a href="#bcc"
							onclick="$('#compose-bcc').show(); $('#bcc-link').hide();"
							id="bcc-link" class="iconlink add"><roundcube:label
								name="addbcc" /></a>
					</div>
					<div id="compose-subject" class="compose-object">
						<label for="compose-subject"><roundcube:label
								name="subject" /></label>
						<roundcube:object name="composeSubject" id="compose-subject"
							form="form" tabindex="5" />
					</div>
          <div id="compose-attachments" class="rightcol">
            <roundcube:object name="composeAttachmentList"
              id="attachment-list" class="attachmentslist" />
          </div>
				</div>
				<!-- message compose body -->
				<div id="composeview-bottom">
					<div id="composebodycontainer">
					  <label for="composeBody"><roundcube:label
                name="body" /></label>
						<roundcube:object name="composeBody" id="composebody" form="form" 
							tabindex="6" />
					</div>					
				</div>				
				</form>

				<div data-role="popup" id="upload-popup" data-theme="a"
					class="ui-content">
					<a href="#" data-rel="back"
						class="ui-btn ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
					<roundcube:object name="composeAttachmentForm" id="uploadform"
						buttons="no" />
					<div class="formbuttons">
						<roundcube:button command="send-attachment" type="link"
							class="button mainaction button_upload_photo ui-link ui-btn ui-btn-a ui-icon-camera ui-btn-icon-left ui-corner-all"
							label="upload" />
					</div>
				</div>
		</div>
	</div>

	<roundcube:include file="/includes/footer.html" />

</body>
</html>
