<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body>
<div data-role="page" data-theme="f" class="jqm-message" id="page_message">
	<div data-role="header" data-position="fixed" data-theme="f" id="jqm-mail-header" data-tap-toggle="true">
		<div style="display: none;" data-role="controlgroup" data-type="horizontal" class="jqm_message_list_group ui-mini ui-btn-left">
			<a href="#" class="jqm_message_list ui-btn ui-link ui-icon-back ui-btn-icon-notext">List</a>
			<a href="#" class="jqm_message_next ui-btn ui-link ui-icon-chevron-circle-left ui-btn-icon-notext">Previous</a>
			<a href="#" class="jqm_message_previous ui-btn ui-link ui-icon-chevron-circle-right ui-btn-icon-notext">Next</a>
		</div>
		<div data-role="controlgroup" data-type="horizontal" class="rc_message_back ui-mini ui-btn-left">
		  <roundcube:button command="list" type="link" class="button back ui-link ui-btn ui-icon-back ui-btn-icon-notext" label="back" />
		  <roundcube:button command="nextmessage" type="link" class="button prevpage ui-btn ui-icon-chevron-circle-left ui-btn-icon-notext" innerClass="inner" title="previousmessage" label="previous" />
      <roundcube:button command="previousmessage" type="link" class="button nextpage ui-btn ui-icon-chevron-circle-right ui-btn-icon-notext" innerClass="inner" title="nextmessage" label="next" />
    </div>
		<h1></h1>
			<div data-role="controlgroup" data-type="horizontal" class="jqm-message-leftpanel-link ui-mini ui-btn-right">
			<roundcube:button command="mark" prop="unread" label="markunread" class="mark_as_unread icon ui-link ui-btn ui-corner-all ui-icon-eye-slash ui-btn-icon-notext" innerclass="icon unread" />					
			<roundcube:button command="forward" type="link" class="button forward ui-link ui-btn ui-icon-mail-forward ui-btn-icon-notext" label="forward" title="forwardmessage" />
			<roundcube:button command="reply" type="link" class="button reply ui-link ui-btn ui-icon-mail-reply ui-btn-icon-notext" label="reply" title="replytomessage" />
			<a href="#buttons-right-panel" class="jqm-apps-rightpanel-link ui-link ui-btn ui-icon-ellipsis-v ui-btn-icon-notext" data-rel="open">Buttons</a>
		</div>
	</div>
	<div id="buttons-right-panel" data-theme="b" data-role="panel" data-position="right" data-display="overlay" data-position-fixed="true" class="jqm-buttons-right-panel">
		<a href="#jqm-mail-header" class="ui-link ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-notext" data-rel="close">Close</a>
		<roundcube:button command="reply" type="link" class="button reply ui-link ui-btn ui-corner-all ui-icon-mail-reply ui-btn-icon-left" label="reply" title="replytomessage" />
		<roundcube:button command="reply-all" type="link" class="button reply-all ui-link ui-btn ui-corner-all ui-icon-mail-reply-all ui-btn-icon-left" label="replyall" title="replytoallmessage" />
		<roundcube:button command="forward" type="link" class="button forward ui-link ui-btn ui-corner-all ui-icon-mail-forward ui-btn-icon-left" label="forward" title="forwardmessage" />
		<roundcube:button command="move" type="link" class="button move ui-link ui-btn ui-corner-all ui-icon-archive ui-btn-icon-left" label="move" title="moveto" data-menu-pos="bottom" />
		<roundcube:button command="delete" type="link" class="delete_message_button button delete ui-link ui-btn ui-corner-all ui-icon-trash-o ui-btn-icon-left" label="delete" title="deletemessage" />
		<roundcube:container name="toolbar_mobile" id="mailtoolbarmobile" />		
		<roundcube:button command="mark" prop="read" label="markread" class="mark_as_read icon ui-link ui-btn ui-corner-all ui-icon-eye ui-btn-icon-left" innerclass="icon read" />
		<roundcube:button command="mark" prop="unread" label="markunread" class="mark_as_unread icon ui-link ui-btn ui-corner-all ui-icon-eye-slash ui-btn-icon-left" innerclass="icon unread" />
		<roundcube:button command="mark" prop="flagged" label="markflagged" class="mark_as_flagged icon ui-link ui-btn ui-corner-all ui-icon-star ui-btn-icon-left" innerclass="icon flagged" />
		<roundcube:button command="mark" prop="unflagged" label="markunflagged" class="mark_as_unflagged icon ui-link ui-btn ui-corner-all ui-icon-star-o ui-btn-icon-left" innerclass="icon unflagged" />		
	</div>
	<roundcube:object name="mailboxlist" folder_filter="mail" type="js" />
	<div role="main" class="ui-content message-content">
		<div id="messageheader">
			<h2 class="subject"><roundcube:object name="messageHeaders" valueOf="subject" /></h2>
			<div class="message-headers">
			<roundcube:object name="messageHeaders" class="headers-table" exclude="subject" max="20" />
			</div>
			<roundcube:object name="messageFullHeaders" id="full-headers" />
			
			<roundcube:if condition="env:optional_format=='text'" />
			<div class="pagenav" id="formatcontrols">
				<span class="buttongroup">
					<roundcube:button command="change-format" prop="html" type="link" class="button first changeformat html selected" innerClass="inner" title="changeformathtml" /><roundcube:button command="change-format" prop="text" type="link" class="button last changeformat text" classSel="button last changeformat text pressed" innerClass="inner" title="changeformattext" />
				</span>
			</div>
			<roundcube:elseif condition="env:optional_format=='html'" />
			<div class="pagenav" id="formatcontrols">
				<span class="buttongroup">
					<roundcube:button command="change-format" prop="html" type="link" class="button first changeformat html" classSel="button first changeformat html pressed" innerClass="inner" title="changeformathtml" /><roundcube:button command="change-format" prop="text" type="link" class="button last changeformat text selected" innerClass="inner" title="changeformattext" />
				</span>
			</div>
			<roundcube:endif />
			
			
			<div id="contactphoto"><roundcube:object name="contactphoto" /></div>
		</div>
		
		<div id="messagecontent">
			<div class="rightcol">
			<roundcube:object name="messageAttachments" id="attachment-list" class="attachmentslist" />
			</div>
			<div class="leftcol">
			<roundcube:object name="messageObjects" id="message-objects" />
			<roundcube:object name="messageBody" id="messagebody" headertableclass="message-partheaders headers-table" />
			</div>
		</div>
		
		<div class="ui-grid-a">
			<div class="ui-block-a"><roundcube:button command="reply" type="link" class="button reply ui-link ui-btn ui-btn-h ui-alt-icon ui-corner-all ui-icon-mail-reply ui-btn-icon-top" label="reply" title="replytomessage" /></div>
			<div class="ui-block-b"><roundcube:button command="delete" type="link" class="delete_message_button button delete ui-link ui-btn ui-btn-h ui-alt-icon  ui-corner-all ui-icon-trash-o ui-btn-icon-top" label="delete" title="deletemessage" /></div>
		</div>
	</div>
	<div id="slide-message" class="jqm-message-slide">
		<div role="main" class="ui-content message-content">
			<div id="messageheader">
				<h2 class="subject"></h2>
				<table class="headers-table-slide">
					<tbody>
					<tr>
						<td class="header-title"><roundcube:label name="from" /></td>
						<td class="header from">
							<span class="adr">
							</span>
						</td>
					</tr>
					<tr>
						<td class="header-title"><roundcube:label name="date" /></td>
						<td class="header date"></td>
					</tr>
					</tbody>
				</table>
			</div>
			
			<div id="messagecontent">
			</div>
		</div>
	</div>
</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
