<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body>

<div data-role="page" data-ajax="false" data-theme="a" class="jqm-plugin" data-dom-cache="true">
  <div data-role="header" data-position="fixed" data-theme="f" data-tap-toggle="false" data-add-back-btn="true">
    <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-left">
        <a href="#" data-rel="back" data-ajax="false" class="ui-btn ui-link ui-icon-back ui-btn-icon-notext">Back</a>
    </div>
    <h1 class="boxtitle"><roundcube:object name="steptitle" /></h1>
  </div>
  
  <div role="main" class="ui-content jqm-content">
    <div id="pluginbody" class="uibox contentbox">
		  <roundcube:object name="plugin.body" />
		</div>
		<roundcube:object name="plugin.footer" />
  </div>
</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
